
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Refference</h2>
<ol>
    <li>
        <ul>
            <li>
                Name: Faculty-1
            </li>
            <li>Designation: Associate profesor at AIUB</li>
            <li>Email: faculty_1@aiub.edu</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
                Name: Faculty-2
            </li>
            <li>Designation: Associate profesor at AIUB</li>
            <li>Email: faculty_2@aiub.edu</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
                Name: Faculty-3
            </li>
            <li>Designation: Associate profesor at AIUB</li>
            <li>Email: faculty_3@aiub.edu</li>
        </ul>
    </li>
</ol>
