@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Hello there👋🏼</h1>
    <h2>I am Shanjidul Islam Sadhin</h2>
    <p>A final year CSE engineer at AIUB. My field of interest falles in </p>
    <ul>
        <li>Computer Vision</li>
        <li>Deep Learning</li>
        <li>Backend developing</li>
        <li>Reasearch project</li>
    </ul>
    <p>Feel free to reach me out at: sadhin.aiub.cse@gmail.com</p>
</main>