@{
    ViewBag.Title = "Zero-Hunger Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Zero-Hunger</h1>
        <p class="lead">"Zero Hunger is an NGO project aimed at reducing food waste in Dhaka City by collecting excess food from restaurants and distributing it to the deprived, ensuring no one goes hungry."</p>
        <p><a href="@Html.ActionLink("Learn more", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) </a></p>
    </section>

    
</main>