@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <div class="row">
        <section>
            <h1>Lab-2 From Validation</h1>
            <hr />
            <h3>↗️ go to Sign-up page or 👉🏼<a href="/Home/SignUp">Click here.</a> </h3>
        </section>
    </div>
</main> 